.process-section {
    background-color: var(--obsidian);
    color: var(--pure-white);
    padding: 0rem 1rem 0 1rem;
}

.process-container {
    max-width: 90%;
    margin: auto;
}

.process-info {
    margin-bottom: 2rem;
}

.get-quote-button {
    text-decoration: none;
    border: 1px solid var(--pure-white);
    padding: 0.75rem 2rem;
    border-radius: 1.5rem;
    color: var(--pure-white);
    font-size: var(--font-sm);
    margin-bottom: 10px;
    transition: 0.3s ease-in-out;
}

.get-quote-button:hover {
    border: 1px solid var(--highlight);
    color: var(--highlight);
}

@media (min-width: 375px) {
    .process-container {
        max-width: 80%;
    }
}

@media (min-width: 768px) {
    .process-container {
        max-width: 80%;
        gap: 2rem;
    }

    .process-info {
        font-size: var(--font-base);
    }
}

@media (min-width: 1024px) {
    .process-container {
        display: flex;
    }

    .process-info {
        width: 80%;
    }
}