:root {
    --dark-blue: #00171F;
    --primary: #003459;
    --light-blue: #007EA7;
    --lightest-blue: #00A8E8;
    --off-white: #F5F5F5;
    --pure-white: #FFFFFF;
    --muted: #00171F;
    --red: #EF476F;
    --green: #007EA7;
    --gray: #F1F1F1;
    --black: #161617;
    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-base: 1rem;
    --font-lg: 1.25rem;
    --font-xl: 1.5rem;
    --font-2xl: 2rem;
    --font-3xl: 2.5rem;
    scroll-behavior: smooth;
}

/* Medium screens and up */
@media (min-width: 640px) {
    :root {
        --font-base: 1.125rem;
        --font-lg: 1.5rem;
        --font-xl: 2rem;
        --font-2xl: 2.5rem;
        --font-3xl: 3rem;
    }
}

/* Large screens and up */
@media (min-width: 1024px) {
    :root {
        --font-base: 1.25rem;
        --font-lg: 1.75rem;
        --font-xl: 2.25rem;
        --font-2xl: 3rem;
        --font-3xl: 4rem;
    }
}

/* Add this to App.css or your global CSS file */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeInUp 1.5s ease-in;
}

