.quote-form-section{
    width: 100%;    
    margin: auto;
    display: flex;
    justify-content: center;
    background: var(--obsidian);
    position: relative;
    min-height: 60dvh;
}

.quote-form-container {
    width: 60%;
    max-width: 60%;
    min-height: 550px;
    padding: 1rem;
    background: linear-gradient(150deg, var(--dark-blue) 50%, var(--obsidian));
    border: 1px solid var(--highlight);
    color: var(--pure-white);
    position: absolute;
    bottom: -200px;
    border-radius: 12px;
}

.quote-form-title {
    text-align: center;
    font-size: var(--font-xl);
    color: var(--highlight);
    margin: 1rem 0 2rem 0;
}

.progress-indicator {
    width: 60%;
    margin: auto;
    position: relative;
}

.progress-bar {
    width: 100%;
    height: 4px;
    background: var(--pure-white);
    position: relative; /* changed from absolute */
    overflow: hidden;
    display: flex;
    align-items: center;
}

.progress {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    min-width: 50px;
    background: linear-gradient(-150deg, var(--primary), var(--dark-blue));
    z-index: 2;
    transition: width 0.4s cubic-bezier(.4,0,.2,1);
}

.steps {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: -350%;
}

.step {
    border: 1px solid var(--pure-white);
    background-color: var(--dark-blue);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    font-weight: bold;
}

.step.active {
    background: var(--primary);
    color: var(--pure-white);
    border-color: var(--primary);
}

.form-step {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-step h2 {
    text-align: center;
    font-size: var(--font-base);
    color: var(--pure-white);
    margin: 3rem 0 1rem 0;
}

.input-container {
    min-height: 300px;
}

.input-container h2 {
    margin: 0 0 1rem 0;
}

.quote-text-input {
    position: relative;
}

.quote-text-input label {
    position: absolute;
    top: 0.75rem;
    left: 0.5rem;
    font-size: var(--font-sm);
    color: var(--highlight);
    transition: all 0.2s ease-in-out;
}

.quote-text-input input {
    width: -webkit-fill-available;
    height: 24px;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: var(--dark-blue);
    color: var(--pure-white);
    font-size: var(--font-md);
    margin: 0 auto 1rem auto;
    box-shadow: none;
    border: 1px solid var(--pure-white);
}

.quote-text-input input:focus {
    outline: none;
    border-color: var(--highlight);
}

.quote-text-input {
    &:focus-within {
        label {
            top: -0.5rem;
            left: 0.5rem;
            font-size: var(--font-xs);
            color: var(--highlight);
            background-color: var(--dark-blue);
            padding: 0 4px;
            border-radius: 4px;
        }
    }
}

.filled label {
    top: -0.5rem;
    left: 0.5rem;
    font-size: var(--font-xs);
    color: var(--highlight);
    background-color: var(--dark-blue);
    padding: 0 4px;
    border-radius: 4px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.next-step-button {
    padding: 0.5rem 2rem;
    align-self: flex-end;
    background-color: transparent;
    color: var(--pure-white);
    border: 1px solid var(--pure-white);
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    margin-bottom: 1rem;
}

.next-step-button:hover {
    border: 1px solid var(--highlight);
    color: var(--highlight);
    cursor: pointer;
}

.next-step-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.prev-step-button {
    padding: 0.5rem 2rem;
    align-self: flex-start;
    background-color: transparent;
    color: var(--pure-white);
    border: 1px solid var(--pure-white);
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    margin-bottom: 1rem;
}

.prev-step-button:hover {
    border: 1px solid var(--highlight);
    color: var(--highlight);
    cursor: pointer;
}

.services-header {
    margin: 0 0 1rem 0;
    padding: 0;
}

.contact-services-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.contact-services-options .contact-service-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--dark-blue);
    padding: 0.5rem 1rem;
    border: 1px solid var(--pure-white);
    width: fit-content; 
    border-radius: 1.5rem
}

.contact-services-options .contact-service-option input {
    margin-right: 0.5rem;
}

.contact-services-options .contact-service-option input.checked .contact-service-option {
    background-color: var(--primary);
    color: var(--pure-white);
    border: 1px solid var(--primary);
}

.quote-textarea  textarea {
    width: -webkit-fill-available;
    height: 50px;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: var(--dark-blue);
    color: var(--pure-white);
    font-size: var(--font-md);
    margin: 0 auto 2rem auto;
    box-shadow: none;
    border: 1px solid var(--pure-white);
    resize:vertical;
}